~/.ipynb_checkpoints/
.ipynb_checkpoints
.bin
*.db
wikihowAll.csv

*.html
*.log
~/.log/

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*

~/.pytest_cache/
